body{
	background-color: rgb(49,197,223);
	font-family: "Tahoma";
}

#centered-body {
	text-align: center;
	padding: 2%;
}


header img {
	width: 100%;
	display: inline;
	vertical-align: middle;
	margin: 1%;
}


body centered-content{

	text-align: center;

}
